ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(252, 216, 57);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  li a:hover {
    background-color: rgb(252, 216, 57);
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
}

/* Estilos para o título */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para o link de cadastro */
a[href='cadastrocidade.html'] {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: rgb(252, 216, 57);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a[href='cadastrocidade.html']:hover {
    background-color: rgb(252, 216, 57);
}

/* Estilos para a tabela */
table {
    border-collapse: collapse;
    margin: 20px 0;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(252, 216, 57);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Estilos para os links de alterar e deletar */
a[href*='alteraCidade.php'], a[href*='deletaCidade.php'] {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a[href*='alteraCidade.php']:hover, a[href*='deletaCidade.php']:hover {
    color: #0056b3;
}